.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menuContainerInLogin {
    display: none;
}

.menuContainer {
    width: 15%;
    height: 100vh;
    background-color: #FFBB71;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img {
    width: 100%;
}


.menuList {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-around;

}

.menuItem {
    display: flex;
    padding: 10px 0px;
    cursor: pointer;
}

.menuItem h3 {
    font-size: 1.2vw;
}

.AppContainer {
    width: 85%;
    height: 100vh;
}

.AppContainerInLogin {
    width: 100%;
    height: 100vh;
}

